body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 213, 208, 0.9);
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 25px;
}
.card{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
#num_1, #num_2{
    text-align: center;
}

.alert{
    text-align: center;
}